/* brand */
.contact {
    margin-top: 10px;
    width: 100%;
    padding: 2rem;
    /* background-color: #fafafa; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    margin: 50px 0px 100px 0px;
    width: 100%;
    /* max-width: 900px; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form {
    background-color: #666;
    padding: 2.3rem;
    position: relative;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #666);
    position: absolute;
}


.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #666;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form {
    /* padding: 13.3rem 1.2rem; */
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title-info {
    color: var(--text-color);
    font-weight: 600;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0.7rem;
    margin-top: 50px;
}

.title {
    color: #fff;
    font-weight: 500;
    /* font-size: 2rem; */
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: center;

}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 8px 14px;
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 25px;
    resize: none;
    overflow-y: auto;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 1.5rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.contact-btn {
    padding: 8px 30px;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 1.6rem;
    color: #666;
    line-height: 1.4;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
}

.contact-btn:hover {
    background-color: transparent;
    color: #fff;
}

.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 1.5rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span:before,
.input-container span:after {
    content: "";
    position: absolute;
    width: 0%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #666;
    top: 50%;
    transform: translateY(-50%);
}

.input-container span:before {
    left: 50%;
}

.input-container span:after {
    right: 50%;
}

.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 1.4rem;
}
.input::placeholder {
    color: #fff;
    opacity: 1; 
  }
.input-container.focus span:before,
.input-container.focus span:after {
    width: 50%;
    opacity: 1;
}

.contact-info {
    padding: 20px 30px;
    position: relative;
}

.contact-info .title {
    color: #666;
}

.text {
    color: var(--text-color);
    margin: 1.5rem 0 2rem 0;
    font-size: 1.6rem;
    line-height: 1.4;
}

.information {
    display: flex;
    color: var(--text-color);
    align-items: center;
    font-size: 1.6rem;
}

.icon {
    width: 28px;
    margin-right: 0.7rem;
}

.social-media {
    padding: 2rem 0 0 0;
}

.social-media p {
    color: var(--text-color);
    font-size: 1.8rem;
    font-style: italic;
}

.social-icons {
    display: flex;
    margin-top: 0.5rem;
}

.social-icons a {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(45deg, #666, #666);
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin-right: 1.5rem;
    transition: 0.3s;
}

.social-icons a i{
    font-size: 2rem;
    margin-top: 15px;
}

.social-icons a:hover {
    transform: scale(1.05);
}

.contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #666;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}

.big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #666, #666);
    left: 17%;
    top: 9%;
    transform: translate(-40%, 38%);
}

.big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
}

.square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
}

@media (max-width: 850px) {
    .form {
        grid-template-columns: 1fr;
    }

    .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }

    .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
    }

    .square {
        transform: translate(140%, 43%);
        height: 350px;
    }

    .big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
    }

    .text {
        margin: 1rem 0 1.5rem 0;
    }

    .social-media {
        padding: 1.5rem 0 0 0;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1.5rem;
    }

    .contact-info:before {
        display: none;
    }

    .square,
    .big-circle {
        display: none;
    }

    form,
    .contact-info {
        padding: 1.7rem 1.6rem;
    }


    .social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .icon {
        width: 23px;
    }

    .input {
        padding: 0.45rem 1.2rem;
    }

    .contact-btn {
        padding: 0.45rem 1.2rem;
    }
}



body {
    background-color: #fbfbfb;
    }
    @media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    }
    }
    
    /* Sidebar */
    .sidebar {
    position: absolute;
    top: 9%;
    padding: 30px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    height: 398px;
    z-index: 600;
    }
    
    @media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
    }
    .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    
    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }